<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pot Buddy-Badges</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/badges.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Vibur" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/images/favicon_package_v0.16 (2)/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/assets/images/favicon_package_v0.16 (2)/favicon-16x16.png">
</head>

<body>

    {{{ body }}}


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/badges.js"></script>


</body>

</HTML>