<!DOCTYPE html>
<html lang="en">

<head>
	<title>Pot Buddy</title>
	<meta charset="UTF-8">
		<link rel="icon" type="image/png" sizes="32x32" href="/public/assets/images/favicon_package_v0.16 (2)/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/public/assets/images/favicon_package_v0.16 (2)/favicon-16x16.png">
<link rel="manifest" href="/public/assets/images/favicon_package_v0.16 (2)/site.webmanifest">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Vibur" 
	rel="stylesheet">

</head>

<body onload="myFunction()" style="margin:0;">

	{{{ body }}}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="../assets/js/script.js"></script>
	<script src="../assets/js/garden.js"></script>

</body>

</HTML>