<nav class="cd-stretchy-nav">
    <a class="cd-nav-trigger" href="#0">
        Menu
        <span aria-hidden="true"></span>
    </a>

    <ul>
        <li>
            <a href="/" class="active">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/my-garden">
                <span>Garden</span>
            </a>
        </li>
        <li>
            <a href="/sign-out">
                <span>Logout</span>
            </a>
        </li>
    </ul>

    <span aria-hidden="true" class="stretchy-nav-bg"></span>
</nav>
<div class="ach">
    <div class="icon">
        <i class="fa fa-flag" aria-hidden="true"></i>
    </div>
    <div class="text_wrap">
        <p class="title">Button Clicker!</p>
        <span class="detail">you clicked a button</span>
    </div>
</div>

<button onclick='achievementUnlocked("You have done something!");'>Get achievement!</button>