<nav class="cd-stretchy-nav">
  <a class="cd-nav-trigger" href="#0">
    Menu
    <span aria-hidden="true"></span>
  </a>

  <ul>
    <li>
      <a href="/" class="active">
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="/my-garden">
        <span>Garden</span>
      </a>
    </li>
    <li>
      <a href="/logout">
        <span>Logout</span>
      </a>
    </li>
  </ul>

  <span aria-hidden="true" class="stretchy-nav-bg"></span>
</nav>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div id="messageContainer"></div>
    </div>
    <div class="col-4">
      <div id="connHeading">Connected Users:</div>
      <div id="connectionList"></div>
      <form id="chatSubmit">
        <div class="form-group">
          <label for="submitBody">Message:</label>
          <input type="text" class="form-control" id="submitBody" placeholder="Message" rows="4">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    </div>
  </div>
</div>