<nav class="cd-stretchy-nav">
    <a class="cd-nav-trigger" href="#0">
        Menu
        <span aria-hidden="true"></span>
    </a>

    <ul>
        <li>
            <a href="/" class="active">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/chat">
                <span>Chat</span>
            </a>
        </li>
        <li>
            <a href="/sign-out">
                <span>Logout</span>
            </a>
        </li>
    </ul>

    <span aria-hidden="true" class="stretchy-nav-bg"></span>
</nav>
<ul>
    {{#each plant}}
    <li>
        <div class="section">

            <div class="col 5">
                <h2 class="header-plant"> Common Name: {{commonName}} </h2>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="../assets/images/faviCacti.png">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p class="black-text">Scientific Name: {{scientificName}}</p>
                            <p>Watering: {{moistUse}}</p>
                            <p>Indoor/Outdoor Plant</p>
                        </div>


                        <div class="card-action">
                            <div class="row">
                                <div class="col 1">
<<<<<<< HEAD
                                    <a class="btn-floating btn-large waves-effect waves-light green darken-1 " data-position="top" data-tooltip="Go Home" href="/">
                                        <i class="material-icons">home</i>
                                    </a>
                                </div>


=======
                                    <a href="/create">
                                        <i class="material-icons">+</i>
                                    </a>
                                </div>
>>>>>>> d6b7efb0943c7bbeb4f53c81e23b7e7d303e0517
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </li>
    {{/each}}
</ul>