
<ul>
    {{#each plant}}
    <li>
        <div class="section">

            <div class="col 5">
                <h2 class="header-plant"> Common Name: {{commonName}} </h2>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="../assets/images/faviCacti.png">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p class="black-text">Scientific Name: {{scientificName}}</p>
                            <p>Watering: {{moistUse}}</p>
                            <p>Indoor/Outdoor Plant</p>
                        </div>


                        <div class="card-action">
                            <div class="row">
                                <div class="col 1">
                                    <a class="btn-floating btn-large waves-effect waves-light green darken-1 " data-position="top" data-tooltip="Go Home" href="/">
                                        <i class="material-icons">home</i>
                                    </a>
                                </div>


                                <div class="col 1">
                                    <a class="btn-floating btn-large waves-effect waves-light green darken-1" href="/create">
                                        <i class="material-icons">add</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </li>
    {{/each}}
</ul>
           