  <div id="loader-wrapper" class="pre-loader">
    <div id="loader">
      <img src="https://media.giphy.com/media/3xJ2I01VtQM6eWy1Ou/giphy.gif" alt="">
    </div>
  </div>
  <div style="display:none;" id="myDiv" class="animate-bottom">
    <div id="header">
      <h2>PotBuddy</h2>
    </div>
    <div class="container">
      <div class="item item-1">
        <h2>Survey</h2>
      </div>

      <div class="item item-2">
        <h2>Badges</h2>

      </div>
      <div class="item item-3">
        <h2>Chat</h2>

      </div>
      <div class="item item-4">
        <h2>Garden</h2>

      </div>
    </div>
  </div>