<div id="loader-wrapper" class="pre-loader">
  <div id="loader">
    <img src="https://media.giphy.com/media/3xJ2I01VtQM6eWy1Ou/giphy.gif" alt="cactus">
  </div>
</div>

<div style="display:none;" id="myDiv" class="animate-bottom">
  
  <div class="container">
    <div class="item item-1" id="i1">
      <h2 class="card-h2">Survey</h2>
    </div>

    <div class="item item-2" id="i2">
      <h2 class="card-h2">Badges</h2>
    </div>

    <div class="item item-3" id="i3">
      <h2 class="card-h2">Chat</h2>
    </div>

    <div class="plantDatabase">
      <h2 id="h2Database">Plant
        <br>Database</h2>
      <img src="https://i.pinimg.com/originals/e7/1d/db/e71ddbac457efab3116419c89b006c7a.png" alt="vine circle" id="vineimage">
    </div>

    <div class="item item-4" id="i4">
      <h2 class="card-h2">Garden</h2>
    </div>
  </div>
</div>