<div class="container-plants ">
    {{!-- <div class="row">
        <div class="col l12">
            <form>
                <input type="text" name="search" placeholder="Search for your new buddy..">
            </form>
        </div>
    </div> --}}

<div id="custom-templates">
  <input class="typeahead" type="text" placeholder="Oscar winners for Best Picture">
</div>
view raw


    <div class="row" id="cards">
        {{#each plant}}
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image light-blue lighten-5" id="img-plants">
                    <img src="../assets/images/plant.png">
                    <span class="card-title pink accent-1-text">{{commonName}}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light green darken-1">
                        <i class="material-icons">add</i>
                    </a>
                </div>
                <div class="card-content">
                    <p>Scientific Name: {{scientificName}}</p>
                    <p>Watering: {{moistUse}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


    <button id="loadMore">Load more +</button>
    <button id="showLess">Show less -</button>
      <button class="totop" href="#top">Back to top</button>

</div>

