

<div class="survey">
       <h1>PotBuddy Survey</h1>
       <div class="surveyQuestions" onclick="showQuestions()">
           <h2>Ready?</h2>
       </div>
       <div id="ans1" class = "qn" onclick="nextQuestion(this)"></div>
       <div id="ans2" class = "qn" onclick="nextQuestion(this)"></div>
       <div id="ans3" class = "qn" onclick="nextQuestion(this)"></div>
       <div id="ans4" class = "qn" onclick="nextQuestion(this)"></div>

        <div id="findplant"></div>

</div>