/* Plants*/
body {
  background-color: #ede1d1;
}
.container-plants {
  width: 90vw;
  margin: 0 auto;
}

#img-plants {
  align-content: center;

  object-fit: cover;
}

/* .header-plant{
    color:
  }  */

  .col {
    display: none;
  }

  .dontShow{
    display:none;
  }
<<<<<<< HEAD

  .btn-floating {
    bottom: 20px !important;
  }
=======
>>>>>>> upstream/master
