/* Plants*/

.container-plants {
  width: 80%;
  margin: 20px 50px;
}

#img-plants {
  align-content: center;
  margin-bottom: 20px;
  height: 200px;
  width: 200px;
}

/* .header-plant{
    color:
  }  */
