#myDiv {
  display: none;
  text-align: center;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

.pre-loader {
  -webkit-animation-name: preloader;
  -webkit-animation-duration: 1s;
  animation-name: preloader;
  animation-duration: 1s;
  animation-delay: 3.2s;
}

@-webkit-keyframes preloader {
  from {
    bottom: -0px;
    opacity: 1;
  }
  to {
    bottom: -100px;
    opacity: 0;
  }
}

@keyframes preloader {
  from {
    bottom: -0px;
    opacity: 1;
  }
  to {
    bottom: -100px;
    opacity: 0;
  }
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #222222;
}

#loader {
  display: block;
  position: relative;
  left: calc(50vw - 150px); /* Centers cactus for all screen sizes */
  top: 25%;
  width: 400px;
  height: 400px;
  z-index: 1500;
}

img {
  width: 100%; /* or any custom size */
  height: 100%;
}

#vineimage {
  background-color: whitesmoke;
  z-index: 4000;
  border-radius: 100px;
  box-shadow: 1px 0px 14px 3px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 1px 0px 14px 3px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 1px 0px 14px 3px rgba(0, 0, 0, 0.21);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: 0.8s;
}

#vineimage:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  box-shadow: 1px 0px 14px 7px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 1px 0px 14px 7px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 1px 0px 14px 7px rgba(0, 0, 0, 0.21);
}

#vineimage:active {
  box-shadow: 1px 0px 14px 3px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 1px 0px 14px 3px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 1px 0px 14px 3px rgba(0, 0, 0, 0.21);
}

.container {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: auto;
  grid-gap: 20px 20px;
  justify-content: center;
  margin-top: 15px;
}

#header {
  height: 80px;
  top: 0;
  background-color: rgb(87, 165, 87);
  vertical-align: middle;
  line-height: 80px;
}

.item {
  height: 47vh;
  background-color: rgb(87, 165, 87);
  transition: 0.4s;
  vertical-align: middle;
  line-height: 200px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.item:hover {
  background: rgba(76, 175, 80, 0.6);
  font-size: 40px;
  cursor: pointer;
}

.item-1 {
  background-image: url("https://i.pinimg.com/originals/ad/22/72/ad2272dec4fa7b73b7941681cbc59aa1.gif");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  transform-style: preserve-3d;
}

.item-1:hover {
  background-position: 0 -100px;
}

.item-2 {
  background-image: url("https://zippy.gfycat.com/CourageousChillyCrocodile.gif");
  background-position: center;
  background-repeat: no-repeat;
}

.item-2:hover {
  background-position: right top;
}

.item-3 {
  background-image: url("https://thumbs.gfycat.com/ActiveMindlessJaguar-max-1mb.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.item-3:hover {
  background-position: 0px 200px;
}

.item-4 {
  background-image: url("https://zippy.gfycat.com/TastyFantasticAmericanredsquirrel.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.item-4:hover {
  background-position: 300px 200px;
}

.card-h2 {
  margin-top: 5px;
  padding-top: 20px;
  top: 0;
}

h2 {
  font-family: "Vibur", cursive;
  margin: 2.2em;
}

p {
  font-family: "Josefin Slab", serif;
}

/* / potbuddy login logo */
.plantDatabase:hover {
  width: 180px;
  height: 180px;
  cursor: pointer;
}
.plantDatabase {
  position: absolute;
  z-index: 2000;
  width: 170px;
  height: 170px;
  margin: auto;
  right: 0;
  bottom: 38%;
  left: 0;
  transition: 0.3s;
}

.plantDatabase:active {
  width: 170px;
  height: 170px;
}

#h2Database {
  position: absolute;
  z-index: 1600;
}

a {
  color: black;
}
